---
import { Image } from "astro:assets";
import ComputerGif from "@/assets/about/computer.gif";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main class="pt-20 lg:pt-32 border-x-2 w-full px-8 lg:px-12 pb-20">
        <Image class="h-20 w-auto" src={ComputerGif} alt="Computer" />
        <p class="mt-4">
            It all started when a "build a calculator in C" video popped up in
            my feed. I'd always liked messing around with computers, but that
            was the moment I got hooked on building things from scratch.
        </p>
        <p class="mt-2">
            For a long time after that, I was tinkering constantly, mostly stuck
            in the MERN stack and meta-framework bubble. It was fun, but I
            eventually hit a point where I wanted to see what else was out
            there.
        </p>
        <p class="mt-2">
            That's when I started playing with lower-level stuff and scripts. I
            wrote custom Bash scripts to automate Linux chores (you can do
            basically anything with Bash), wrote a reverse shell in Go to learn
            TCP, and built CLI tools for my own use. I even tried building a
            SaaS product with someone I met on Discord. We managed to launch it,
            but we had to abandon the project almost immediately after.
        </p>
        <p class="mt-2">
            I am still learning, and there's still plenty of fuel left.
        </p>
    </main>
</Layout>
