---
import { Image } from "astro:assets";
import GithubIcon from "@/assets/icons/social/github.svg";
import ProfileImage from "@/assets/profile.webp";
import HomeTabs from "@/components/home-tabs";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main
        class="pt-20 lg:pt-32 max-w-2xl mx-auto border-x-2 border-neutral-100"
    >
        <header class="px-12">
            <Image
                class="size-16 rounded-full"
                loading="eager"
                src={ProfileImage}
                alt="Profile"
            />
            <h1 class="text-lg mt-6">Yagnik Patel</h1>
            <h2>Backend Engineering, DevOps & Systems</h2>
            <a
                class="block w-fit underline decoration-2 underline-offset-2 decoration-muted hover:decoration-foreground transition-colors"
                href="mailto:yagnik.pt@gmail.com">yagnik.pt@gmail.com</a
            >
            <a
                class="flex w-fit items-center gap-1 mt-6 text-muted hover:text-foreground transition-colors"
                href="https://github.com/yagnikpt"
            >
                <GithubIcon class="size-4 inline-block" />
                <span class="inline-block">yagnikpt</span>
            </a>
        </header>
        <section class="mt-8">
            <HomeTabs client:load />
        </section>
    </main>
</Layout>
