---
// import Nav from "@/components/nav";
import "@/styles/global.css";
import { Font } from "astro:assets";
import Nav from "@/components/nav-desktop.astro";

const pathname = Astro.url.pathname;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-google-sans" />
        <Font cssVariable="--font-playfair-display" />
        <title>Yagnik Patel</title>
    </head>
    <body>
        <div
            class="[--content-w:42rem] 2xl:[--content-w:48rem]
          grid lg:grid-cols-[1fr_var(--content-w)_1fr] w-full h-full"
        >
            <Nav pathname={pathname} />

            <slot />

            <div></div>
        </div>
    </body>
</html>
