---
import "@/styles/global.css";
import { Font } from "astro:assets";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-google-sans" />
        <Font cssVariable="--font-playfair-display" />
        <title>Yagnik Patel</title>
    </head>
    <body>
        <slot />
    </body>
</html>
